<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_name" class="form-control" name="row[car_name]" type="text" value="{$row.car_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-car_image" class="form-control" size="50" name="row[car_image]" type="text" value="{$row.car_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-car_image" class="btn btn-danger faupload" data-input-id="c-car_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-car_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-car_image" class="btn btn-primary fachoose" data-input-id="c-car_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-car_image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-car_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Load')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-load" class="form-control" name="row[load]" type="text" value="{$row.load|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Length')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-length" class="form-control" step="0.01" name="row[length]" type="number" value="{$row.length|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Width')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-width" class="form-control" step="0.01" name="row[width]" type="number" value="{$row.width|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Height')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-height" class="form-control" step="0.01" name="row[height]" type="number" value="{$row.height|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Volume')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-volume" class="form-control"  name="row[volume]" type="text" value="{$row.volume|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_price" class="form-control" step="0.01" name="row[start_price]" type="number" value="{$row.start_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_mileage" class="form-control" step="0.01" name="row[start_mileage]" type="number" value="{$row.start_mileage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Section1_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-section1_price" class="form-control" step="0.01" name="row[section1_price]" type="number" value="{$row.section1_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Section1_min_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-section1_min_mileage" class="form-control" step="0.01" name="row[section1_min_mileage]" type="number" value="{$row.section1_min_mileage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Section1_max_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-section1_max_mileage" class="form-control" step="0.01" name="row[section1_max_mileage]" type="number" value="{$row.section1_max_mileage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Section2_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-section2_price" class="form-control" step="0.01" name="row[section2_price]" type="number" value="{$row.section2_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Section2_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-section2_mileage" class="form-control" step="0.01" name="row[section2_mileage]" type="number" value="{$row.section2_mileage|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
